#jinja2: lstrip_blocks: "True", trim_blocks: "True"
version {{ os_version }}
{% for interface in main_interfaces %}
interface {{ interface.name }}
 ip address {{ interface.ip_address | ipaddr('address')}} {{ interface.ip_address | ipaddr('netmask')}}
 ip ospf cost {{ interface.metric }}
{% if interface.description is defined %}
 description "{{ interface.description }}";
{% endif %}
 no shutdown
!
{% endfor %}
!
router ospf 10
router-id {{ mgmt_interface.ip_address | ipaddr('address') }}
{% for interface in main_interfaces %}
 network {{ interface.ip_address | ipaddr('network')}} {{ interface.ip_address | ipaddr('hostmask')}} area 0
{% endfor %}
!
end
